*{list-style: none; box-sizing: border-box; padding: 0; margin: 0; font-family: 'Alumni Sans Pinstripe', sans-serif;}
a{text-decoration: none; cursor: pointer;}

/* Container */

#container{
    background-color: rgba(102, 153, 204, 0.40);
}

/* Header */

header{
    position: relative;
    left: 650px;
    border-bottom: 100px;
    width: 155px;
    position: fixed;
    height: 100px;
    color: white;
}

header #lista{
    display: flex;
    justify-content: space-between;
}

header a{
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 21px;
    color: white;
}

header #nome{
    font-family: 'Audiowide', cursive;
    padding-top: 10px;
    font-size: 4em;
}

/* Hero */

#hero{
    color: white;
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-around;
}

/* Hero Texto */

#hero-text .bemvindo{
    top: 350px;
    left: 100px;
    position: absolute;
    font-size: 3em;
}

#hero-text .hello{
    top: 300px;
    left: 100px;
    position: absolute;
    font-size: 3em;
}

#hero-text .iam {
    top: 380px;
    left: 100px;
    position: absolute;
    font-size: 7em;
}

#hero-text .iam span{
    color: rgba(102, 153, 204);
}

/* Texto (Desenvolvedor) */
#dev{
    color: rgba(102, 153, 204);
    font-size: 3em;
    top: 170px;
    left: 600px;
    bottom: 10px;
    position: relative;
}

/* Hero Menu */

#hero-menu{
    display: flex;
    justify-content: space-around;
    border: black;
    top: 250px;
    position: relative;
    width: 610px;
    height: 350px;
}

#hero-menu div{
    height: 350px;
    width: 200px;
}

i{
    color: white;
}

/* Sobre Mim */

#hero-menu .sobre .txt-sbr{
    right: 30px;
    top: 150px;
    position: relative;
    font-size: 2em;
}

/* Projetos */

#hero-menu .projetos{
    text-align: center;
}

#hero-menu .projetos img{
    right: 100px;
    position: relative;
    height: 300px;
    width: 300px;
}

#hero-menu .projetos .txt-prj{
    top: 30px;
    font-size: 2em;
    position: relative;
    right: 55px;
}

/* Contatos */

#hero-menu .contatos .txt-cnt{
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 2em;
}


