*{list-style: none; box-sizing: border-box; padding: 0; margin: 0; font-family: 'Alumni Sans Pinstripe', sans-serif;}
a{text-decoration: none; cursor: pointer;}

/* Container */

#container{
    background: linear-gradient(80deg,rgba(204, 204, 204, 0.35) 58%, rgba(0, 0, 0, 0) 60.2%);
}

/* Header */

header{
    width: 100%;
    position: fixed;
    height: 70px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header #lista{
    display: flex;
    justify-content: space-between;
}

header a{
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 21px;
    color: white;
}

header #nome{
    font-family: 'Audiowide', cursive;
    padding-top: 20px;
}

/* HERO */

#hero{
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column;
}

#hero .bemvindo{
    top: 350px;
    left: 150px;
    position: absolute;
    font-size: 4em;
}

#hero .hello{
    top: 300px;
    left: 150px;
    position: absolute;
    font-size: 4em;
}

#hero .iam {
    top: 380px;
    left: 150px;
    position: absolute;
    font-size: 9em;
}

#hero .pc{
    height: 400px;
    top: 220px;
    position: relative;
    left: 900px;
}

span{
    color: grey;
}

/* Sobre */

#sobre {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 100vh;
}

#sobre h1{
    top: 50px;
    position: relative;
    font-size: 3em;
}

#sobre p{
    position: relative;
    padding: 100px 100px;
    top: 100px;
    font-size: 2.5em;
}