*{box-sizing: border-box; padding: 0; margin: 0; font-family: 'Poppins', sans-serif;}
a{text-decoration: none; cursor: pointer;}

/* --------------------------- Home ---------------------------- */

#container{
    background: linear-gradient(210deg,rgb(1, 48, 61) 80%, white 250%);

}

/* --------------------------- Header ---------------------------- */

header{
    position: relative;
    left: 650px;
    border-bottom: 100px;
    width: 155px;
    position: fixed;
    height: 100px;
    color: white;
}

header #lista{
    display: flex;
    justify-content: space-between;
}

header a{
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 21px;
    color: white;
}

header #nome{
    font-family: 'Poppins', cursive;
    padding-top: 10px;
    font-size: 2.5em;
}

/* --------------------------- Home ---------------------------- */

/* Home Hero */

#hero{
    position: relative;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-around;
}

/* Home Hero Texto */

#hero-text .bemvindo{
    top: 350px;
    left: 100px;
    position: absolute;
    font-size: 2em;
}

#hero-text .hello{
    top: 300px;
    left: 100px;
    position: absolute;
    font-size: 2em;
}

#hero-text .name {
    top: 380px;
    left: 100px;
    position: absolute;
    font-size: 4em;
}

#hero-text .name{
    animation: piscaName 4s infinite;
    color: rgb(0, 242, 255);
}

#hero-text .name:hover{
    color: rgb(255,255,255);
}

#hero-text .bemvindo:hover{
    color: rgb(0, 242, 255);
}

#hero-text .hello:hover{
    color: rgb(0, 242, 255);
}


#hero-text:after {
    position: relative;
    top: 377px;
    left: 620px;
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
    font-size: 4em;
}

/* Home Animação aplicada */

@keyframes pisca{
    0%, 100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes piscaName{
    0%, 100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/* Home Texto (Desenvolvedor) */
#dev{
    color: rgb(255,255,255);
    font-size: 2em;
    top: 140px;
    left: 890px;
    bottom: 10px;
    position: relative;
}

#dev:hover{
    color: rgb(0, 242, 255);
}

#dev span {
    color: rgb(0, 242, 255);
}

#dev span:hover{
    color: rgb(255,255,255);
}

/* Home Imagem Menu */

#hero img{
    position: relative;
    height: 450px;
    width: 450px;
    top: 190px;
    left: 500px;
}

/* Home Menu */

#hero-menu{
    display: flex;
    justify-content: space-around;
    border: black;
    top: 250px;
    position: relative;
    width: 610px;
    height: 350px;
}

#hero-menu div{
    height: 350px;
    width: 200px;
}

i{
    color: white;
}

/* Home Botão Sobre Mim */

#hero-menu .sobre .txt-sbr{
    color: white;
    top: 150px;
    position: relative;
    font-size: 0.6em;
}

#hero-menu .sobre .txt-sbr:hover{
    cursor: pointer;
    color: rgb(0, 242, 255);
}

/* Home Botão Projetos */

#hero-menu .projetos{
    text-align: center;
}

#hero-menu .projetos .txt-prj{
    position: relative;
    color: white;
    font-size: 0.6em;
    right: 30px;
    top: 400px;
}
#hero-menu .projetos .txt-prj:hover{
    cursor: pointer;
    color: rgb(0, 242, 255);
}

/* Home Botão Contatos */

#hero-menu .contatos .txt-cnt{
    color: white;
    position: relative;
    top: 150px;
    left: 50px;
    font-size: 0.6em;
}

#hero-menu .contatos .txt-cnt:hover{
    color: rgb(0, 242, 255);
}

/* --------------------------- Sobre Mim ---------------------------- */

/* Hero Sobre Mim */

#hero-sobre {
    color: white;
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto;
}

#hero-sobre .texto-sbr{
    margin-top: 70px;
    font-size: 0.8em;
    align-self: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#hero-sobre .texto-sbr h1{
    padding-bottom: 30px;
    font-size: 1.5em;
}

#hero-sobre .texto-sbr .intro{
    font-weight: bold;
    text-align: start;
    width: 500px;
}

#hero-sobre .texto-sbr .intro .p01{
    margin-bottom: 10px;
}

#hero-sobre .img-intro{
    left: 120vh;
    top: 135vh;
    position: absolute;
    border: 2px solid rgb(0, 242, 255);
    border-radius: 5px 5px 5px 5px;
    width: 220px;
    height: 240px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#hero-sobre img{
    border-radius: 5px 5px 5px 5px;
    position: relative;
    right: 20px;
    bottom: 20px;
    width: 220px;
    height: 240px;
}


#hero-sobre .texto-sbr .skill-intro{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#hero-sobre .texto-sbr .skill{
    line-height: 30px;
    padding: 10px;
    display: flex;
    width: 400px;
    height: 150px;
}

#hero-sobre .texto-sbr .skill .back{
    padding-left: 60px;
}

/* Hero Sobre mim - Botão */

#hero-sobre .botao-sbr{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    align-self: flex-start;
    height: 30px;
    width: 100px;
}

#hero-sobre .botao-sbr button{
    cursor: pointer;
    border: 2px solid rgb(255,255,255);
    color: white;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(255,255,255, 0);
    font-weight: bold;
    font-size: 1em;
    height: 40px;
    width: 110px;
}

#hero-sobre .botao-sbr a{
    color: white;
}

#hero-sobre .botao-sbr i{
    padding-right: 10px;
    color: white;
}

/* Hero Sobre mim - Rodape Menu Home/Projetos/Contatos */

#sobre-rodape{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    display: flex;
    justify-self: end;
    align-self: center;
}

#sobre-rodape a{
    font-size: 0.5em;
    color: white;
}

#sobre-rodape a:hover{
    color: rgb(0, 242, 255);
}

#sobre-rodape .home-sbr{
    margin-right: 30px;
}

#sobre-rodape .projetos-sbr{
    margin-right: 30px;
}

#sobre-rodape .contatos-sbr{
    margin-right: 30px;
}